In [1]:
import pandas as pd
import seaborn as sns
import numpy as np
import matplotlib.pyplot as plt

**leia os dados `employee`**

In [3]:
from pycaret.datasets import get_data

In [6]:
df = get_data('employee')

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,promotion_last_5years,department,salary,left
0,0.38,0.53,2,157,3,0,0,sales,low,1
1,0.80,0.86,5,262,6,0,0,sales,medium,1
2,0.11,0.88,7,272,4,0,0,sales,medium,1
3,0.72,0.87,5,223,5,0,0,sales,low,1
4,0.37,0.52,2,159,3,0,0,sales,low,1

**Crie um histograma de `average montly hours` por salario no seaborn**

**Crie um grafico de barras com as frequencias de cada departamento no seaborn**

**Crie um gráfico de dispersão de nivel de satisfacao por ultima avaliacao no seaborn**

**Crie uma tabela de frequencia de salario por departamento e visualize no heatmap com o seaborn**

**Crie um malha 2x2 e plote cada um dos quadrantes cada um dos 4 gráficos criados acima**